*{
    box-sizing: border-box;
}
body{
    background-color: #ffffff;
    font-family: Arial, sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;

}
.container{
    display:flex;
    justify-content:center;
    align-items: center;
    max-width: 1000px;
    gap: 300px;
    padding: 20px 20px;
}
.logo{
    position:absolute;
    top: 12px;
    left: 20px;
}
.left{
    max-width: 400px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1{
    text-align: center;

}
.grad{
    background: linear-gradient(to right, #f09433, #e6683c, #dc2743, #cc2366, #bc1888);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
}
.photo{
    width: 100%;
}
.photo img{
    width:700px;
    height: auto;
    margin:0;;
    display: block;
}
.right{
    font-family: sans-serif;
    display: flex;
    justify-content: center;
}
.loginn{
    padding: 40px;
    width:400px;
    max-width: 700px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    background-color: white;
    border-radius: 8px;

}
.loginn input{
    padding:14px;
    width: 100%;
    margin-bottom: 20px;
    border-radius: 6px;
    border: 1px solid #ddd;
}
.loginn button{
    padding: 14px;
    width: 100%;
    border: none;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
}
        .loginn input:focus{
            outline: none;
            border-color: #165ec9;
        }
.login{
    background-color: #3897f0;
    color: white;
}
.loginn .facebook{
    display: flex;
    background: white;
    color: #1c1e21;
    align-items: center;
    justify-content: center;
    border:1px solid #74a6f0;
    border-radius: 10px;
    margin-bottom: 10px;
}
.forgot{
    display: block;
    text-decoration: none;
    text-align: center;
    display: block;
    margin-top: 10px;
    color: #1c1e21;
}
.loginn .signup{
    background-color: white;
    color: #70a1eb;
    border-radius: 10px;
    font-size: 14px;
    border: 1px solid #74a6f0;
}
.meta{
    margin-bottom: 10px;
    text-align: center;
}
.info a{
    text-decoration: none;
    color: #7b7158b3;
    font-size: 12px;
}
.footer{
    text-align: center;
    color: #7b7158b3;
    font-size: 12px;
}
